.about_main {
    padding: 70px 0 157px;

    &__title {
        margin: 0 0 31px;
    }
    &__wrap {
        display: flex;
    }

    &__img {
        width: 26%;
    }

    &__content {
        width: 74%;
        padding-left: 96px;
    }

    &__text {
        p {
            font-size: 17px;
            line-height: 1.4;
            margin: 29px 0;
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .about_main {
        &__content {
            padding-left: 40px;
        }
    }
}

@media screen and (max-width: 992px) {
    .about_main {
        padding: 40px 0 100px;

        &__img {
            width: 35%;
        }

        &__content {
            width: 65%;
        }
    }
}

@media screen and (max-width: 768px) {
    .about_main {

        &__wrap {
            flex-wrap: wrap;
        }
        &__img {
            width: 100%;
            order: 2;
        }

        &__content {
            width: 100%;
            order: 1;
            padding-left: 0;
            margin-bottom: 40px;
        }
    }
}