.production_about {
    padding-bottom: 130px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 30px;
        margin: 0 0 28px;
    }

    &__content {
        width: 67%;

        p {
            line-height: 1.49;
            font-size: 17px;
        }
    }

    &__img {
        width: 33%;
        margin-top: -19px;
        margin-left: auto;
    }
}

@media screen and (max-width: 992px) {
    .production_about {
        &__content {
            width: 50%;
        }

        &__img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .production_about {
        &__title {
            font-size: 25px;
        }
        &__content {
            width: 100%;

            p {
                font-size: 15px;
            }
        }

        &__img {
            width: 100%;
            margin-top: 40px;
            text-align: center;
        }
    }
}