.header {
    border-bottom: 1px solid @darkBlue;

    &__wrap {
        padding: 13px 0;
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 111px;
        display: inline-block;
    }

    &__menu {
        display: flex;
        align-items: center;
        margin: 5px 0 0 auto;
        padding: 0;
        list-style: none;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;

        &-item {
            &:not(:last-of-type) {
                margin-right: 27px;
            }
        }
    }

    &__phone {
        margin-left: auto;
        font-size: 15px;
        font-weight: 700;
    }

    .icons {
        display: flex;
        margin-left: 22px;

        .feedback {
            background-color: @green;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search {
            background-color: @lighterGrey;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &_mainpage {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        border: none;
    }

    &_prod {
        border: none;

        &-border {
            border-bottom: 1px solid @darkBlue;

        }

        .header__wrap {
            padding: 6px 0;
        }

        .logo {
            max-width: 87px;
        }

        .header__menu {
            margin: 5px 0 0 71px;
        }

        .icons {
            margin-left: auto;
        }
    }

    
}