.header {
    border-bottom: 1px solid @darkBlue;

    &__wrap {
        padding: 13px 0;
        display: flex;
        align-items: center;
        position: relative;
    }

    .logo {
        max-width: 111px;
        display: inline-block;
    }

    &__menu {
        display: flex;
        align-items: center;
        margin: 5px 0 0 auto;
        padding: 0;
        list-style: none;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;

        &-item {
            position: relative;

            &_drop {
                margin-right: 35px!important;
            }

            &:not(:last-of-type) {
                margin-right: 27px;
            }
        }

        &-drop {
            position: absolute;
            top: 6px;
            right: -17px;
            width: 15px;
            height: 15px;
            background-image: url('../img/icons/arrow.png');
            background-size: 10px 7px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transform: rotate(180deg);
            transition: 0.3s;

            &.active {
                transform: rotate(0);
            }
        }

        &-sub {
            display: none;
            position: absolute;
            z-index: 2;
            width: 175px;
            top: 100%;
            left: -50%;
            background-color: @darkBlue;
            color: @white;
            margin: 0;
            padding: 20px 30px;
            list-style: none;
            font-size: 13px;
        }
    }

    &__phone {
        margin-left: auto;
        font-size: 15px;
        font-weight: 700;
    }

    .icons {
        display: flex;
        margin-left: 22px;

        .feedback {
            background-color: @green;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search {
            background-color: @lighterGrey;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .burger {        
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: relative;
        background-color: @green;
        display: none;
        margin-left: 22px;

        span {
            width: 20px;
            height: 2px;
            background-color: @white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            &:nth-of-type(1) {
                bottom: 12px;
            }

            &:nth-of-type(3) {
                top: 12px;
            }
        }
    }

    .mobile-menu {
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        max-height: 100vh;
        background-color: @darkBlue;
        display: none;
        
        overflow: auto;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            padding: 80px 40px 40px;
        }

        &__close {
            position: absolute;
            top: 40px;
            right: 40px;
            background-color: @green;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;  
        }
    }

    .search-block {
        display: none;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        background-color: @white;
        padding: 40px;
    }

    &_mainpage {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        border: none;
    }

    &_prod {
        border: none;

        &-border {
            border-bottom: 1px solid @darkBlue;

        }

        .header__wrap {
            padding: 6px 0;
        }

        .logo {
            max-width: 87px;
        }

        .header__menu {
            margin: 5px 0 0 71px;
        }

        .icons {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {

        .logo {
            max-width: 90px;
        }

        &__menu {
            font-size: 12px;
            margin: 0 0 0 auto;

            &-item {
                &:not(:last-of-type) {
                    margin-right: 27px;
                }
            }

            &-drop {
                top: 4px;
            }
        }

        &__phone {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__menu {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            color: @white;
            margin: 0;

            &-item {
                width: 100%;
                &:not(:last-of-type) {
                    margin-right: 0;
                }
            }

            &-drop {
                background-image: url('../img/icons/arrow-white.png');
                right: 0;
                left: 130px;
            }

            &-sub {
                position: relative;
                width: auto;
                left: 0;
                top: 0;
                
            }
        }

        .icons { 
            margin-left: 0;
            
        }

        .burger {
            display: block;
        }

        &_prod {
            .header__menu {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .logo {
            max-width: 80px;
        }

        .search-block {
            padding: 40px 0;
        }
    }
}